<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Mijnuri</a>

      <ul *ngIf="loggedIn()" class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']">მიჯნურები</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">სია</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">მესიჯები</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          გამარჯობა {{ _authService.decodedToken?.unique_name | titlecase }}
        </a>

        <ul class="dropdown-menu mt-3" *dropdownMenu>
          <li>
            <a class="dropdown-item"
              ><i class="fas fa-user mr-3"></i>პროფილის შეცვლა</a
            >
          </li>
          <li><div class="dropdown-divider"></div></li>
          <li>
            <a (click)="logout()" class="dropdown-item"
              ><i class="fas fa-outdent mr-3"></i>გასვლა</a
            >
          </li>
        </ul>
      </div>

      <form
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex"
      >
        <input
          class="form-control mr-2"
          type="text"
          placeholder="მომხმარებელი"
          [(ngModel)]="model.username"
          name="username"
        />
        <input
          class="form-control mr-2"
          type="password"
          placeholder="პაროლი"
          [(ngModel)]="model.password"
          name="password"
          required
        />
        <button
          [disabled]="!loginForm.valid"
          class="btn btn-success"
          type="submit"
          required
        >
          შესვლა
        </button>
      </form>
    </div>
  </div>
</nav>
