<div class="container-fluid mt-3">
  <div *ngIf="!registerMode" style="text-align: center; margin-top: 50px">
    <h1>მიჯნურობის ცეცხლით დაწვა</h1>
    <p class="lead">
      მიჯნურს სჭირდება:გარეგნული სილამაზ (თვალად სიტურფე),
      სიბრძნე,სიუხვე,სიმდიდრე,სიურმე და მოცალეობ-ამქვეყნიური ხორციელებისგან
      თავისუფალი.
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        რეგისტრაცია
      </button>
      <button class="btn btn-info btn-lg">გაიგე მეტი</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
